body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #eee;
}

#header-img {
    width: 300px;
}

#brand-img {
    width: 60vw;
    height: 34px;
    padding-left: 15px;
    margin-top: 17px;
    margin-right: 180px;
    display: flex;
    justify-content: flex-start;
}

#nav-bar {
    padding-right: 20px;
}

#nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 0px 17px;
}

#registration {
    margin-top: 70px;
}

.heading {
    font-size: 2.5rem;
}

#submit {
    margin: 15px 0;
    background-color: #f1c40f;
    padding: 7px 15px;
    font-size: 1em;
    font-weight: 900;
    border: 0px;
    border-radius: 10px;
    border: 2px solid black;
}

#email {
    width: 270px;
    height: 1.5rem;
}

ul, ol {
    list-style-type: none;
}

#content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}

.feature {
    display: flex;
    flex-direction: row;
}

.icon {
    color: darkorange;
    height: 125px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fire-icon {
    width: 170px;
}

.description {
    text-align: left;
    margin-left: 30px;
}

.description h2 {
    margin-top: 30px;
    margin-bottom: 0;
}

.description p {
    margin-top: 10px;
}

#how_it_works {
    margin-top: 50px;
}

#how_it_works > iframe {
    width: 100%;
    max-width: 560px;
}

#pricing {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.price-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.label {
    background-color: #ddd;
    width: 100%;
    padding: 15px 0;
    font-weight: 700;
}

.price-card h2 {
    margin-top: 15px;
    margin-bottom: 0;
}

.price-card ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.price-card ol li {
    padding: 5px 0;
}

.btn {
    background-color: #f1c40f;
    border: 0;
    font-size: 1em;
    font-weight: 600;
    border-radius: 3px;
    padding: 10px;
    margin: 15px;
    border: 2px solid black;
}

#footer {
    background-color: #ddd;
    margin-top: 30px;
    padding: 25px 0;
    text-align: right;
}

#footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
}

.copyright {
    margin-top: 5px;
    color: #444;
    font-size: 0.9em;
    margin-right: 20px;
}

@media only screen and (max-width:768px) {

    #header {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #nav-bar ul {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding-left: 0;
        align-items: center;
    }

    #brand-img {
        padding-left: 0;
        margin-right: 25%;
    }

    #registration {
        margin-top: 170px;
    }

    #content {
        margin-top: 20px;
        width: auto;
        margin: 0 auto;
    }

    .feature {
        flex-direction: column;
    }

    .icon {
        width: 460px;
        margin: 0px auto;
    }

    #pricing {
        flex-direction: column;
    }

    .price-card {
        width: 90%;
        margin: 15px auto;
    }

}

@media only screen and (max-width:480px) {

    #nav-bar ul li {
        padding: 0.7rem;
    }
    #registration {
        margin-top: 200px;
    }
}